<nav class="navbar navbar-expand-sm navbar-dark bg-dark w-100">
    <div class="container">
        <a class="navbar-brand"
           href="/">Řemeslo v kostce</a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse"
                data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto pl-4">
                <li class="nav-item">
                    <a href="{% url 'main:index' %}" class="nav-link {% if index %}active{% endif %}">Domů</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'main:catalog' %}" class="nav-link {% if catalog %}active{% endif %}">Katalog</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'main:contact' %}" class="nav-link {% if contact %}active{% endif %}">Kontakty</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

