<div class="card mb-3" id="{{ review.pk }}">
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <img src="https://image.ibb.co/jw55Ex/def_face.jpg"
                     class="img img-rounded img-fluid"/>
                <p class="text-secondary text-center">{{ review.published }}</p>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-3">
                        <p><strong>Anonymní uživatel</strong></p>
                    </div>
                    <div class="col-9">
                        <div class="progress">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: {{ review.rating }}%;"
                                 aria-valuenow="{{ review.rating }}"
                                 aria-valuemin="0" aria-valuemax="100">{{ review.rating }}%
                            </div>
                        </div>
                    </div>
                </div>
                <p>{{ review.content }}</p>
            </div>
        </div>
    </div>
</div>