{% extends 'base.html' %}
{% block title %}Katalog{% endblock %}
{% block body %}
    <div class="row mt-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h5>Katalog</h5>
            <hr>
            <div class="row">
                {% for category in categories %}
                    {% include 'partials/category_card.html' with name=category.name slug=category.slug thumbnail=category.thumbnail.url description=category.description %}
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
{% endblock %}