{% extends 'base.html' %}
{% block title %}
    {% if error_message %}
        Někde se vyskytla chyba
    {% else %}
        {{ category.name }}
    {% endif %}
{% endblock %}
{% block body %}
    <div class="row mt-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h5>
                {% if error_message %}
                    {{ error_message }}
                {% else %}
                    {{ category.name }}
                {% endif %}
            </h5>
            <hr>
            <div class="row mb-5">
                {% for product in products %}
                    {% include 'partials/product_card.html' %}
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
{% endblock %}