{% extends 'base.html' %}
{% block title %}
    {% if products.count >= 1 %}
        {{ category }}
    {% else %}
        Někde se vyskytla chyba
    {% endif %}
{% endblock %}
{% block body %}
    <div class="row my-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            {% if products.count >= 1 %}
                <div class="d-flex justify-content-between">
                    <h4>{{ category }}</h4>
                    <div>
                        <a href="{% url 'main:create-product' category.slug %}" class="btn btn-success">Přidat produkt</a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    {% for product in products %}
                        {% include 'partials/product-card.html' %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-danger text-center mt-3" role="alert">
                    Pro tuto ketegorii neexistují žádné produkty
                </div>
            {% endif %}
        </div>
        <div class="col-lg-2"></div>
    </div>
{% endblock %}