{% extends 'base.html' %}
{% block title %}
    {% if error_message %}
        Někde se vyskytla chyba
    {% else %}
        {{ category }}
    {% endif %}
{% endblock %}
{% block body %}
    <div class="row my-5">
        <div class="col-lg-2">
            <a href="{% url 'main:catalog' %}" class="btn btn-outline-info float-end mb-2">
                Zpět na Katalog
            </a>
        </div>
        <div class="col-lg-8">
            {% if error_message %}
                <div class="alert alert-danger text-center mt-3" role="alert">
                    {{ error_message }}
                </div>
            {% else %}
                <div class="d-flex justify-content-between">
                    <h4>{{ category }}</h4>
                    {% if user.is_authenticated %}
                        <a href="{% url 'main:create-product' category.slug %}" class="btn btn-success">
                            Přidat produkt
                        </a>
                    {% endif %}
                </div>
                <hr>
                {% if products.count == 0 %}
                    <div class="alert alert-warning text-center" role="alert">
                        Tato kategoriie neobsahuje žádné produkty
                    </div>
                {% endif %}
                <div class="row">
                    {% for product in products %}
                        {% include 'partials/product-card.html' %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="col-lg-2"></div>
    </div>
{% endblock %}