{% extends 'base.html' %}
{% block title %}Kontakt{% endblock %}
{% block body %}
    <div class="row mt-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h4>Kontakt</h4>
            <hr>
            <div class="card mb-3">
                <div class="card-header"><h5>Petr Boháč</h5></div>
                <div class="card-body">
                    <ul class="list-unlisted p-0"><b>Pozice:</b><br>Majitel a Zakladatel</ul>
                    <ul class="list-unlisted p-0"><b>Adresa:</b><br>Jatecká 399<br>Mšeno<br>277 35<br>Česká Republika
                    </ul>
                    <ul class="list-unlisted p-0"><b>Kontakt:</b><br><b>Telefon</b><br>+420 315 693 889<b><br>E-mail</b><br><a
                            href="mailto:obchod@remeslovkostce.cz">obchod@remeslovkostce.cz</a></ul>
                    <ul class="list-unlisted p-0"><b>Ostatní informace:</b><br><b>IČ</b><br>10161171<br><b>DIČ</b><br>CZ6703151488
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
{% endblock %}