{% extends 'base.html' %}
{% block title %}Přidat produkt{% endblock %}
{% block body %}
    <div class="row my-5">
        <div class="col-lg-2">
            <a href="{{ category.get_absolute_url }}" class="btn btn-outline-info float-end mb-2">Zpět na detail produktu</a>
        </div>
        <div class="col-lg-8">
            <h4>Přidat produkt do kategorie {{ category }}</h4>
            <hr>
            <form method="post">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-outline-primary" value="Odeslat">
                </div>
            </form>
        </div>
        <div class="col-lg-2"></div>
    </div>
{% endblock %}