{% extends 'base.html' %}
{% block title %}Přidat recenzi{% endblock %}
{% block body %}
    <div class="row mt-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h4>Přidat recenzi k produktu {{ product }}</h4>
            <hr>
            <form method="post">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <a href="{{ product.get_absolute_url }}" class="btn btn-outline-danger">Zpět</a>
                    <input type="submit" class="btn btn-outline-primary" value="Odeslat">
                </div>
            </form>
        </div>
        <div class="col-lg-2"></div>
    </div>
{% endblock %}