{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
    <div class="row mt-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 text-center">
            <h5>Vítejte na stránkách Řemeslo v kostce</h5>
            <hr>
            <p><b>ŘEMESLO V KOSTCE</b> je ryze výrobní firma zaměřená především
                na
                zpracování papíru. Kancelářské potřeby a reklamní předměty
                spotřebního charakteru vyrábíme od roku 1997. </p>
            <p>Naše zboží lze zakoupit v celé řadě obchodů po celé ČR. Pokud
                máte
                zájem o velkoobchodní podmínky prodeje, prosím kontaktujte nás
                na
                <a href="mailto:obchod@remeslovkostce.cz">obchod@remeslovkostce.cz</a>.
            </p>
            <p>Přehled našich výrobků naleznete v sekci <a
                    href="{% url 'catalog' %}">Katalog</a>.</p>

        </div>
        <div class="col-lg-2"></div>
    </div>
{% endblock %}