{% extends 'base.html' %}
{% block title %}
    {% if error_message %}
        Někde se vyskytla chyba
    {% else %}
        {{ product.name }}
    {% endif %}
{% endblock %}
{% block body %}
    <div class="row mt-5">
        <div class="col-lg-2">
            <a href="{{ product.category.get_absolute_url }}" class="btn btn-outline-info float-end">Zpět na {{ product.category }}</a>
        </div>
        <div class="col-lg-8">
            {% if not error_message %}
                <h4>{{ product.name }}</h4>
                <hr>
                <div class="row mb-5">
                    {% if not error_message %}
                        <div class="row">
                            <div class="col-6">
                                <img src="{{ product.image.url }}" alt="{{ product.slug }}" class="img-fluid">
                            </div>
                            <div class="col-6">
                                <h5>Popis produktu</h5>
                                <hr>
                                {% if not product.description %}
                                    <div class="alert alert-info text-center" role="alert">
                                        Popis produktu není dostupný
                                    </div>
                                {% endif %}
                                <div class="mb-4">{{ product.description }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-4">
                                <div class="d-flex justify-content-between">
                                    <h5>Recenze</h5>
                                    <a href="{% url 'main:product_details' product.category.slug product.slug %}review"
                                       class="float-end btn btn-outline-primary">Přidat recenzi</a>
                                </div>
                                <hr>
                                {% if not reviews %}
                                    <div class="alert alert-primary text-center" role="alert">
                                        Nikdo dosud nezanechal recenzi k tomuto produktu, <a
                                            href="{% url 'main:create_product_review' product.category.slug product.slug %}">buďte
                                        první</a>.
                                    </div>
                                {% endif %}
                                {% for review in reviews %}
                                    {% include 'partials/review-card.html' %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <div class="alert alert-danger text-center mt-3" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}
        </div>
        <div class="col-lg-2"></div>
    </div>
{% endblock %}
