{% extends 'base.html' %}
{% block title %}
    {% if error_message %}
        Někde se vyskytla chyba
    {% else %}
        {{ product.name }}
    {% endif %}
{% endblock %}
{% block body %}
    <div class="row mt-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            {% if not error_message %}
                <h4>{{ product.name }}</h4>
                <hr>
                <div class="row mb-5">
                    {% if not error_message %}
                        <div class="row">
                            <div class="col-6">
                                <img src="{{ product.image.url }}" alt="{{ product.slug }}" class="img-fluid">
                            </div>
                            <div class="col-6">
                                <h5>Popis produktu</h5>
                                <hr>
                                <div class="mb-4">{{ product.description }}</div>
                                <h5>Přidat recenzi</h5>
                                <hr>
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <input type="submit">
                                </form>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-4">
                                <h5>Recenze</h5>
                                <hr>
                                {% for review in reviews %}
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <img src="https://image.ibb.co/jw55Ex/def_face.jpg"
                                                         class="img img-rounded img-fluid"/>
                                                    <p class="text-secondary text-center">{{ review.published }}</p>
                                                </div>
                                                <div class="col-md-10">
                                                    <p>
                                                    <p>
                                                        <strong>Anonymní uživatel</strong>
                                                        <span class="float-end">{{ review.rating }}/100</span>
                                                    </p>
                                                    <span class="float-right"><i
                                                            class="text-warning fa fa-star"></i></span>
                                                    <span class="float-right"><i
                                                            class="text-warning fa fa-star"></i></span>
                                                    <span class="float-right"><i
                                                            class="text-warning fa fa-star"></i></span>
                                                    <span class="float-right"><i
                                                            class="text-warning fa fa-star"></i></span>

                                                    <div class="clearfix"></div>
                                                    <p>{{ review.content }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <h5>{{ error_message }}</h5>
                <hr>
            {% endif %}
        </div>
        <div class="col-lg-2"></div>
    </div>
{% endblock %}
